@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap");

/* ================== ROOT ================== */

:root {
  /* Colors */
  --blackpure: #000;
  --black: #171718;
  --black-border: #26292d;
  --white: #fff;
  --purple: #5c62ec;

  /* Nav */
  --nav-bg: var(--black);
  --nav-border: var(--black-border);
  --nav-text: var(--white);

  /* Header */
  --header-text-color: #000;
  --header-bg: #ffffff;

  /* Footer */
  --footer-bg: var(--black);
  --footer-text: var(--white);

  /* Light mode */
  --page-bg: var(--white);
  --text-color: var(--black);
  --accent: var(--purple);
  --title-1: var(--accent);

  --project-card-bg: var(--white);
  --project-card-text: var(--black);
  --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
}

/* ================== DARK MODE ================== */

body.dark {
  --page-bg: #252526;
  --text-color: var(--white);

  --title-1: var(--white);

  --project-card-bg: var(--black);
  --project-card-text: var(--white);
  --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.8);

  --header-text-color: #fff;
  --header-bg: #343434;
}

/* ================== GLOBAL ================== */

html,
body {
  min-height: 100vh;

  font-family: "DM Sans", sans-serif;
  letter-spacing: -0.5px;

  background-color: var(--page-bg);
  color: var(--text-color);
}

#root {
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* ================== GENERAL ================== */

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.none {
  display: none !important;
}

.section {
  padding: 70px 0;
}

.title_1 {
  margin-bottom: 60px;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--title-1);
  text-align: center;
}

.title_2 {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
}

/* ================== RESPONSIVE ================== */

@media (max-width: 645px) {
  .section {
    padding: 40px 0;
  }

  .title_1 {
    margin-bottom: 30px;
    font-size: 40px;
  }

  .title_2 {
    margin-bottom: 10px;
    font-size: 30px;
  }
}
