/* Content list */

.content_list {
  margin: 0 auto;
  max-width: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  text-align: center;
}

.content_list a {
  color: var(--accent);
}

.content_list__item {
  font-size: 18px;
  line-height: 1.5;
}

.content_list__item p + p {
  margin-top: 0.5em;
}

@media (max-width: 645px) {
  .content_list {
    max-width: 100%;
    row-gap: 30px;
  }

  .content_list__item {
    font-size: 16px;
  }
}
