/* Content list */

.content_list {
  margin: 0 auto;
  max-width: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  text-align: center;
}

.content_list a {
  color: var(--accent);
}

.content_list__item {
  font-size: 18px;
  line-height: 1.5;
}

.content_list__item p + p {
  margin-top: 0.5em;
}

.neon_line {
  height: 6px;
  width: 100%;
  background: #a855f7;
  border-radius: 3px;
  box-shadow: 0 0 10px #c084fc, 0 0 20px #a855f7, 0 0 30px #9333ea;
  animation: neonPulse 1.5s infinite alternate;
}

@keyframes neonPulse {
  0% {
    box-shadow: 0 0 5px #a855f7, 0 0 10px #a855f7, 0 0 20px #9333ea;
    opacity: 0.7;
  }
  50% {
    box-shadow: 0 0 15px #c084fc, 0 0 30px #a855f7, 0 0 40px #9333ea;
    opacity: 1;
  }
  100% {
    box-shadow: 0 0 5px #a855f7, 0 0 10px #a855f7, 0 0 20px #9333ea;
    opacity: 0.7;
  }
}
