/* Nav */

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.nav {
  padding: 20px 0;
  background-color: var(--nav-bg);
  border-bottom: 1px solid var(--nav-border);
  color: var(--nav-text);
  letter-spacing: normal;
}

.navrow {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 30px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.logo {
  margin-right: auto;
  color: var(--nav-text);
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}

.logo strong {
  font-weight: 700;
}

.navlist {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  align-items: center;
  column-gap: 40px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.navlist__link {
  color: var(--nav-text);
  transition: opacity 0.2s ease-in;
}

.navlist__link:hover {
  opacity: 0.8;
}

.navlist_link_active {
  position: relative;
}

@keyframes neonPulse {
  0% {
    box-shadow: 0 0 10px #c084fc, 0 0 20px #a855f7, 0 0 40px #9333ea,
      0 0 80px #7e22ce;
  }

  50% {
    box-shadow: 0 0 25px #e9d5ff, 0 0 50px #c084fc, 0 0 100px #a855f7,
      0 0 160px #9333ea;
  }

  100% {
    box-shadow: 0 0 10px #c084fc, 0 0 20px #a855f7, 0 0 40px #9333ea,
      0 0 80px #7e22ce;
  }
}

.navlist_link_active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;

  display: block;
  height: 3px; /* чуть толще */
  width: 100%;
  background: #e9d5ff;

  animation: neonPulse 1.2s infinite;
}

.navlist_link_active::before {
  content: "";

  position: absolute;
  left: 0;
  top: 100%;

  display: block;
  height: 2px;
  width: 100%;
  background: #c084fc;
  animation: neonPulse 1.2s infinite;
  transform: scale(1.05);
}

@media (max-width: 645px) {
  .navrow {
    justify-content: space-evenly;
  }
}
